<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 40px ">
<div class="card">
  <div class="card-header" style="background-color: #dd9a1f;">
<h4 style="color:white">Master Menu</h4>
  </div>
  <div class="card-body">
   
    <ul class="list-inline ">
      <li  class="list-inline-item text-center" (click)="gotoPage()">
          <div class="menuicons">
            
            <img src="assets/suplyer.png">
            <span>Supplier master</span>
          </div>
        </li>
        <li  class="list-inline-item text-center" (click)="gotoPage1()">
          <div class="menuicons">
            
            <img src="assets/product.png">
            <span>Product master</span>
          </div>
        </li>
        <li  class="list-inline-item text-center" (click)="gotoPage2()">
          <div class="menuicons">
            
            <img src="assets/location.png">
            <span>location master</span>
          </div>
        </li>
        <li  class="list-inline-item text-center" (click)="gotoPage3()">
          <div class="menuicons">
            
            <img src="assets/staff.png">
            <span>staff Master</span>
          </div>
        </li>
        <li  class="list-inline-item text-center" (click)="gotoPage4()">
          <div class="menuicons">
            
            <img src="assets/company.png">
            <span>company Master</span>
          </div>
        </li>
        <!-- <li  class="list-inline-item text-center" (click)="gotoPage1()">
          <div class="menuicons">
            
            <img src="assets/celebration-icon.png">
            <span>inward master</span>
          </div>
        </li> -->
        
    </ul>
  </div>
</div>
    </div>
  </div>
</div>

