<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="margin-top: 40px;margin-bottom: 15px ">
                <div class="card-header">
                    Add Inward
                </div>
                <div class="card-body">
                    <form [formGroup]="InwardForm" >
                        <!-- Email input -->
                        <div class="form-group row">
                               <div class="col-md-4">
                                <label class="form-label">inward Name <span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="inward_name" />

                                <div *ngIf="InwardForm.get('inward_name')?.invalid && (InwardForm.get('inward_name')?.dirty || InwardForm.get('inward_name')?.touched)"
                                    style="color: red;">
                                    Inward name is required
                                </div>
                            </div>
                                <div class="col-md-4">
                                <label class="form-label">inward Amount <span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="inwardTotleAmount" readonly>

                                <!-- <div *ngIf="InwardForm.get('inwardTotleAmount')?.invalid && (InwardForm.get('inwardTotleAmount')?.dirty || InwardForm.get('inwardTotleAmount')?.touched)"
                                    style="color: red;">
                                    inward Amount is required
                                </div> -->
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Inward Date <span style="color: red">*</span></label>
                                <input type="date" class="form-control" formControlName="inwardDate" />

                                <div *ngIf="InwardForm.get('inwardDate')?.invalid && (InwardForm.get('inwardDate')?.dirty || InwardForm.get('inwardDate')?.touched)"
                                    style="color: red;">
                                    Inward date is required
                                </div>
                            </div>
                        
                         

                        </div>
                        <div class="form-group row">

                            <div class="col-md-4">
                                <label class="form-label">contact <span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="contactPersonName" />

                                <div *ngIf="InwardForm.get('contactPersonName')?.invalid && (InwardForm.get('contactPersonName')?.dirty || InwardForm.get('contactPersonName')?.touched)"
                                    style="color: red;">
                                    contact is required
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Mobile No <span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="contactMobileNo" />

                                <div *ngIf="InwardForm.get('contactMobileNo')?.invalid && (InwardForm.get('contactMobileNo')?.dirty || InwardForm.get('contactMobileNo')?.touched)"
                                    style="color: red;">
                                    mobile number is required
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">select product recipt <span
                                        style="color: red">*</span></label>
                                <input type="file" (change)="onFileSelected($event)" />
                                <!-- <button (click)="convertToBase64()">Convert to Base64</button> -->

                              
                            </div>
                            <div class="col-md-4">

                                <label class="form-label">product Name <span style="color: red">*</span></label>

                                <select class="form-control" formControlName="productId" (change)="getProductByIds($event)">
                                    <option [value]=null>Select product</option>
                                    <option *ngFor="let item of productData" [value]="item.productId">{{item.productName}}</option>

                                </select>

                                <div *ngIf="InwardForm.get('productId')?.invalid && (InwardForm.get('productId')?.dirty || InwardForm.get('productId')?.touched)"
                                    style="color: red;">
                                    product is required

                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">product quantity <span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="quantity" />

                                <div *ngIf="InwardForm.get('quantity')?.invalid && (InwardForm.get('quantity')?.dirty || InwardForm.get('quantity')?.touched)"
                                    style="color: red;">
                                    product quantity is required
                                </div>
                            </div>
                            <div class="col-md-4">
                                  <div *ngIf="base64Image" style="height: 23px ">
                                    <img [src]="base64Image" alt="Converted Image" style="width: 100%;"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-2" style="margin-top: 30px;">
                                        <button class="btn btn-primary" (click)="AddProductInOneList()">Add</button>
                                        
                                        </div>
                                </div>
                             
                            </div>

                        </div>
                       <!-- <div class="form-group row" style="justify-content: center;">
                        <div class="col-md-2" style="margin-top: 30px;">
                        <button class="btn btn-primary" (click)="AddProductInOneList()">Add</button>
                        
                        </div>
                       </div> -->
                       <div class="form-group row">
                        <div class="col-md-8">
                            <div class="">
                                          
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Product Id</th>
                                      <th>Product Name</th>
                                      <th>Product Quantity</th>
                                      <th>Total Price</th>
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of ProductMasterList">
                                      <td>{{item.productId}}</td>
                                      <td>{{item.productName}}</td>
                                      <td>{{item.quantity}}</td>
                                      <td>{{item.total}}</td>
                                       <td>
                                         <!-- <mat-icon (click)="editRow(element)" style="color:#48efe1e0">edit</mat-icon> -->
                                        <mat-icon (click)="deleteRow(item.productId)" style="color: red;">delete</mat-icon>  
                                                                     
                                    </td>
                                    </tr>
                                  
                                  </tbody>
                                </table>
                              </div>
                        </div>
                       </div>
                       <div class="form-group row">
                          <div class="col-md-4">
                                <label class="form-label">Payable Amount <span style="color: red">*</span></label>
                                <input type="number" class="form-control" formControlName="paidAmount" (keyup)="calculateRemainingAmount()"/>

                                <div *ngIf="InwardForm.get('paidAmount')?.invalid && (InwardForm.get('paidAmount')?.dirty || InwardForm.get('paidAmount')?.touched)"
                                    style="color: red;">
                                    payableAmount  is required
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Remaining Amount <span style="color: red">*</span></label>
                                <input type="number" class="form-control" formControlName="remainingAmount" readonly/>

                                <div *ngIf="InwardForm.get('remainingAmount')?.invalid && (InwardForm.get('remainingAmount')?.dirty || InwardForm.get('remainingAmount')?.touched)"
                                    style="color: red;">
                                    remaining Amount  is required
                                </div>
                            </div>
                       </div>
             
                        <div class="form-group row" style="justify-content: center;
                        margin-top: 30px;">
                            <div class="col-md-2">


                                <button type="submit" class="btn btn-primary" (click)="saveInward()" *ngIf="isEditButton !==true">save</button>
                                <!-- <button type="submit" class="btn btn-primary" (click)="UpdateInward()" *ngIf="isEditButton==true">update</button> -->


                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>