

<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 40px ">
<div class="card">
  <div class="card-header" style="background-color: #dd9a1f;">
<h4 style="color:white">Material Menu</h4>
  </div>
  <div class="card-body">
<ul class="list-inline ">
    
      <li  class="list-inline-item text-center" (click)="gotoPage1()">
        <div class="menuicons">
          
          <img src="assets/inward.png">
          <span>inward master</span>
        </div>
      </li>
      <li  class="list-inline-item text-center" (click)="gotoPage2()">
        <div class="menuicons">
          
          <img src="assets/outward.png">
          <span>Outward master</span>
        </div>
      </li>
      <li  class="list-inline-item text-center" (click)="gotoPage3()">
        <div class="menuicons">
          
          <img src="assets/report.png">
          <span>Reports </span>
        </div>
      </li>
      
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>

  