<!-- table.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-top: 70px; margin-bottom: 30px;">
        <!-- <button type="button" class="btn btn-primary"  [routerLink]="['/layout/AddSupplyer']">
          Add Supplyer
        </button> -->
        <div style="margin-bottom: 17px">
          <button mat-raised-button color="warn" [routerLink]="['/layout/addOutwardList']" style="cursor: pointer;">  Add Outward</button>
        </div>
      
        
    <div class="mat-elevation-z8">
          
         
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
            <ng-container matColumnDef="serialNumber">
              <th mat-header-cell *matHeaderCellDef>Sr No. </th>
              <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
            </ng-container>
            <ng-container matColumnDef="inwardName">
              <th mat-header-cell *matHeaderCellDef> inward Name </th>
              <td mat-cell *matCellDef="let element"> {{element.outward_name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="inwardDate">
              <th mat-header-cell *matHeaderCellDef> inward Date </th>
              <td mat-cell *matCellDef="let element"> {{element.outwardDate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="inwardTotleAmount">
              <th mat-header-cell *matHeaderCellDef> inward Amount </th>
              <td mat-cell *matCellDef="let element"> {{element.outwardTotleAmount}} </td>
            </ng-container>
        
            <ng-container matColumnDef="contactPersonName">
              <th mat-header-cell *matHeaderCellDef> contact Person Name </th>
              <td mat-cell *matCellDef="let element"> {{element.contactPersonName}} </td>
            </ng-container>
            <ng-container matColumnDef="contactMobileNo">
                <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
                <td mat-cell *matCellDef="let element"> {{element.contactMobileNo}} </td>
              </ng-container>
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="editRow(element)" style="color:#48efe1e0">edit</mat-icon>
                <mat-icon (click)="deleteRow()" style="color: red;">delete</mat-icon>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div> 
    </div>
    
  </div>
  
  
      
   
  
  