
<div class="jumbotron">
  <div class="container text-center">
   
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <!-- <div class="panel-heading">BLACK FRIDAY DEAL</div> -->
        <div class="panel-body"><img src="assets/inwards.png" class="img-responsive" style="width:100%;    height: 350px;" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
    </div>
    <div class="col-sm-6"> 
      <div class="panel panel-danger">
        <!-- <div class="panel-heading">BLACK FRIDAY DEAL</div> -->
        <div class="panel-body"><img img src="assets/percentage.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
    </div>
   
  </div>
</div><br>

<div class="container">    
  
</div><br><br>

